.loginContainer {
    display: flex;
    height: 92vh;
    width: 100%;
    background-color: #f5f5f5;
}

.leftColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.logoText {
    font-size: 96px;
    color: #1013C5;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.loginButton {
    width: 40%; 
    background-color: #1013C5;
    border-radius: 15px;
    padding: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
    color: white;
    font-size: 16px;
}

.loginButton:hover {
    background-color: #1a1eff;
    cursor: pointer;
}

.clickableText {
    font-family: 'Poppins', sans-serif;
    color: #1013C5;
    font-size: 16px;
    text-align: left;
}

.clickableText:hover {
    color: #1a1eff;
    cursor: pointer;
}

.signUpTextContainer {
    padding-top: 5px;
}