.searchBarContainer {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 20px;
}

.searchBarIconContainer {
    margin: 22px;
}

.bar {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    height: 80px;
    width: 100%;
}

.bar:focus-within {
    outline: 2px solid #1013C580;
}

input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    height: 100%;
    color: #000000;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}

input::placeholder{
    color: #1013C580;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}

input:focus {
    outline-width: 0;
}

.results-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
  }

.search-result {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 20px;
    border: 1px solid #e5e5e5;
    height: 24px;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.search-result:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}